.wp-block-danstoakes-img-content-two-col {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    padding: 2.5rem;
}

.wp-block-danstoakes-img-content-two-col .content-image {
    width: 50%;
}

.wp-block-danstoakes-img-content-two-col .content-image img {
    height: 30em;
    object-fit: cover;
    width: 100%;
}

.wp-block-danstoakes-img-content-two-col .content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 50%;
}

@media only screen and (min-width: 1000px) {
    .wp-block-danstoakes-img-content-two-col {
        flex-direction: row;
    }

    .wp-block-danstoakes-img-content-two-col {
        padding: 5rem;
    }
}