.wp-block-danstoakes-img-content-two-col {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    min-height: 100vh;
    padding: 2.5rem;
}

.wp-block-danstoakes-img-content-two-col .content-image {
    width: 50%;
}

.wp-block-danstoakes-img-content-two-col .content-image img {
    height: 30em;
    object-fit: cover;
    width: 100%;
}

.wp-block-danstoakes-img-content-two-col .content-wrapper {
    align-items: start;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 50%;
}

.wp-block-danstoakes-img-content-two-col .button {
    color: #FFF;
    background-color: #FF8C42;
    border-radius: 20px;
    font-weight: bold;
    padding: 0.75em;
    width: fit-content;
}

@media only screen and (min-width: 1000px) {
    .wp-block-danstoakes-img-content-two-col {
        flex-direction: row;
    }

    .wp-block-danstoakes-img-content-two-col {
        padding: 5rem;
    }
}